.container {
    border: 4px dashed orange
    width: 90% 
    margin: auto;
    padding: 10px;
}

header, main, footer {
    width: 400px;
    height: 300px;
}

header {
    border: 4px dotted red
}

main {
    border: 4px solid green
}

footer {
    border: 4px dashed purple 
}