/* Your code goes below here */
p {
color: blue; 
font-size: 24px;
border: 1px solid goldenrod;
}


a {
    color: green;
    font-size: 28px;
    border: 1px solid green
}
/* Your code goes above here */